:root {
    --main-gray: #afafaf;
    --second-gray: #606060;
    --third-gray: #353535;
    --darkest-gray: #1e1e1e;
    --main-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.33);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--darkest-gray);
}
header {
    width: 100%;
    height:35px;
    border-bottom: 1.5px solid var(--second-gray);
    background-color: var(--darkest-gray);
    display: flex;
    color: var(--main-gray);
    font-size: 0.9em;
    position: absolute;
    z-index: 4;
}
header nav{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
   z-index: 3;
   
}

.word-menu{

    justify-content: flex-start;
}
.icon-menu{
    justify-content: flex-end;
}
.logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-header {
    height: 75%;
    width: 12.5%;
    border-left: 2px solid var(--second-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all linear 200ms;
}
.button-header:hover {
background-color: black;
height: 100%;
color: white;

}
svg .color:hover {
    color: white;
}
.undo-arrows, .zoom-buttons {
    display: flex;
    width: fit-content;  
    justify-content: space-around;
    align-items: center;
    width: 17%;
}
#aside-menu{

    height: 100%;
    width:130px;
    position: absolute;   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border:  none; 
    border-right: 0.7px solid var(--second-gray);
    color: #afafaf;
    font-size: 0.75em;
    top: 35px;
    left: 0px;
    box-shadow: var(--main-shadow);
    z-index: 3;
}
#tools {
    height: 50%;
    width: 90%;
    background-color: var(--darkest-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.tools-title {
    width: 95%;
    border-bottom: 1.5px solid var(--third-gray);
    line-height: 40px;
}


 #tools  .tool {
    height: 20%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1.5px solid rgb(47, 47, 47);
    transition: all linear 175ms;
  
}
 #tools  .tool:hover {
    background-color: black;
    width: 100%;
  
}

 #tools .active {
    background-color: black;
    width: 100%;
   
}

#class-tool {
    cursor: grab
    
}
.grabing {
    cursor: grabing;
}
 #collor-palet {
    width: 30%;
    height: 50px;
    background-color: var(--darkest-gray);
    border:1.5px solid var(--second-gray);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: var(--main-shadow);
    display: flex;
    color: var(--main-gray);
    font-size: 0.6em;
    padding: 7.5px 5px;
}


.last-collors-container{
 width: 50%;
 height: 100%;
 padding: 2px;

}

.last-collors{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 0.7px var(--second-gray) solid;
}
.color-piker-container {
    padding: 30px , 15px;
    width:40%;
    height: auto;
}
.chosed-collor{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid var(--main-gray);
}
input[type ="color"] {
    width: 45px;
    height: 25px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    z-index: 4;
    position: absolute;

}

svg {
    color: snow;
}
svg:hover {
    color: rgb(36, 209, 123);
}

canvas {
    background-color: transparent;
}
#canvas-container1{
    z-index: -2;
}
#canvas-container2 {
 position: absolute;
 z-index: 2;
 top: 0;
 left: 0;
}
#canvas-container3 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   }
   .test {
    color: rgb(16, 228, 232);
   }
   .uml-class{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    position: absolute;
    z-index: 3;
    top:  50px;
    left: 250px;
    border-radius: 3px;
    
   }
   .uml-class:hover {
    background-color: #e2e2e2;
    border: 2px solid #00facd;
    /* transition: ease-in 300ms; */
    padding: 0;
    cursor: move;

   }
   .uml-class h3 {
    width: 100%;
    height: 35px;
    border: #1e1e1e 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .uml-class .atributes, .uml-class .method {
    width: 100%;
    height:  33%;
    border: #1e1e1e 1px solid;
   }
   
   

  .arrow {
    position: absolute;
    width: 20px;
    height: 30px;
  }

 .arrow-left {

    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

 .arrow-up {
    top: -28px;
    left: 50%;
    transform: translateX(-50%);

}
 .arrow-right {

    right: -25px;
    top: 50%;
    transform: translateY(-50%);
} 
.arrow-down {

    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.hide{
    display: none;
    cursor: default;
}
